.profile--login .profile__inner {
    height: 690px !important;
}

.profile__slide {
	background: #8ccfc0 !important;
}

.profile__slide:after {
	border-top: 65px solid #8ccfc0 !important;
}

.content__block .product{
	height: 520px;
}