@charset "UTF-8";
/* COLORS */
/* TYPE */
/* GRID */
/* Responsive */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=ee895a27b975b3746c6e8daa4c6edf44)
 * Config saved to config.json and https://gist.github.com/ee895a27b975b3746c6e8daa4c6edf44
 */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container {
  width: 970px; }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before, .block__table:before, .examples:before, .table .th:before, .table .tr:before, .table--score:before,
.clearfix:after,
.block__table:after,
.examples:after,
.table .th:after,
.table .tr:after,
.table--score:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after, .block__table:after, .examples:after, .table .th:after, .table .tr:after, .table--score:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; 
text-align: center; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.title,
.subtitle {
  font-family: "Filson W01 Bold", Arial;
  font-weight: 400;
  margin: 0 0 10px; }

.title {
  font-size: 22px;
  line-height: 34px;
  font-family: "Filson W01 Bold", Arial; }
  .title--page {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
    margin-top: 40px;
    margin-bottom: 15px;
    overflow: hidden; }
    .title--page span {
      display: inline-block;
      max-width: 480px;
      overflow: hidden;
      float: left; }
      @media (min-width: 1200px) {
        .title--page span {
          max-widht: 590px; } }
    .title--page small {
      font-size: 16px;
      font-family: "Filson W01 Regular", Arial; }
  .title--marked {
    display: inline;
    padding: 2px 8px;
    font-size: 16px;
    text-transform: uppercase;
    background: #3b3f4a;
    color: #fff; }

.subtitle {
  font-size: 16px; }

h1, .h1 {
  font-size: 22px; }

h2, .h2 {
  font-size: 22px; margin-top: 20px;}

h3, .h3 {
  font-size: 22px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 18px; }

h6, .h6 {
  font-size: 16px; }

a {
  color: #3b3f4a; }
  a:hover {
    color: #191b1f; }
  a:focus {
    color: #3b3f4a;
    text-decoration: none; }

small {
  font-family: "Filson W01 Light", Arial; }

strong {
  font-weight: 600;
  font-family: "Filson W01 Bold", Arial; }

.header {
  background: #fff;
  height: 100px;
  box-shadow: 0px 10px 43px 0px rgba(0, 0, 0, 0.1); }

.dashboard-button {
  width: calc(100% + 30px);
  height: 100px;
  background: #3b3f4a;
  text-align: center;
  position: relative; }

.dashboard-button__link {
  line-height: 100px;
  color: #fff;
  font-family: "Filson W01 Bold", Arial;
  position: relative;
  padding-left: 12px; }
  @media (min-width: 1200px) {
    .dashboard-button__link {
      padding-left: 25px; } }
  .dashboard-button__link:hover {
    text-decoration: none;
    color: #fff; }
  .dashboard-button__link:before {
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    left: -15px;
    top: -8px; }
    @media (min-width: 1200px) {
      .dashboard-button__link:before {
        width: 40px;
        height: 40px;
        left: -25px;
        top: -10px; } }
  .dashboard-button__link i {
    font-size: 40px;
    position: relative;
    top: -1px;
    left: -10px;
    vertical-align: middle; }
    @media (min-width: 1200px) {
      .dashboard-button__link i {
        left: -18px; } }

.logo {
  display: inline-block;
  margin-top: 32px;
  margin-right: 50px; }

.logo__img {
  width: 195px;
  height: auto; }

.footer {
  background: #fff;
  text-align: center;
  padding: 10px 0 100px;
  position: relative; }
  .footer:before {
    content: '';
    background: url("../images/footer.svg");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 610px;
    z-index: -1; }
  .footer--low:before {
    height: 500px; }
  .footer .logo {
    display: inline-block;
    margin-top: 0;
    margin-right: 10px; }
  .footer .logo__img {
    width: 115px;
    height: auto; }

.footer__link {
  color: #d3d4d5;
  padding: 0 15px 0 10px;
  position: relative;
  font-size: 14px; }
  .footer__link:after {
    content: '';
    width: 1px;
    height: 20px;
    background: #d3d4d5;
    position: absolute;
    right: 0;
    top: 1px; }
  .footer__link:last-child:after {
    display: none; }
  .footer__link:hover {
    color: #b9bbbc;
    text-decoration: none; }
    .footer__link:hover:after {
      color: #d3d4d5; }

.content-blocks {
  display: flex; }
  .content-blocks > div {
    display: flex; }
  .content-blocks .content__block {
    width: 100%;
    margin-bottom: 25px; }

.content__block {
  background-color: #acaeb2;
  background-size: cover;
  position: relative; }
  .content__block + .content__block {
    margin-top: 25px; }
  .content__block--border {
    background: none;
    border: 1px solid #3b3f4a;
    padding: 25px; 
	overflow: hidden;}
  .content__block--border + .content__block--border {
    border-top: 0;
    margin-top: 0; }
  .content__block--border-inner:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #3b3f4a;
    position: absolute;
    top: 0;
    left: calc((100% / 12 * 7) - 15px);
    margin: 0 15px; }
  .content__block--green {
    background: #40af96; }
  .content__block--done {
    background: #40af96; }
    .content__block--done:before {
      content: '\e80d';
      font-family: "fontello";
      font-size: 30px;
      color: #009573;
      position: absolute;
      right: 10px;
      top: 12px; }
  .content__block--active {
    background: #009473; }
  .content__block--inactive {
    background: #e1e2e4; }
  .content__block p {
    margin-top: 0; 
    display: inline;}
    .content__block p:last-child {
      margin-bottom: 0; }
  .content__block .dropdown {
    margin-top: 5px;
    min-height: 70px; }
    .content__block .dropdown + .dropdown {
      margin-top: 5px; }
    .content__block .dropdown + .button {
      margin-top: 10px; }
  .content__block .dropdown__list {
    width: 100%; }
    .content__block .dropdown__list .button:focus {
      color: #fff; }
  .content__block .dropdown__label {
    padding-left: 15px; }
  .content__block .button {
    width: 100%; }
    .content__block .button + .button {
      margin-top: 20px; }
    .content__block .button--small {
      width: 120px; }

.block__inner {
  padding: 15px 25px 25px;
   }
  .block__inner--small {
    padding: 15px 25px; }
  .block__inner--alt {
    min-height: 105px; }
  .block__inner small {
    font-size: 15px; }
  .block__inner .button--100 {
    max-width: none !important;
    min-width: 0 !important;
    width: 100% !important;
    display: block; }
  .block__inner .button--58 {
    max-width: none !important;
    min-width: 0 !important;
    width: calc(58.33% - 15px) !important;
    display: block;
    margin-right: 0; }

.block__title {
  margin: 0 0 25px;
  color: #fff; }
  .block__inner--small .block__title {
    margin: 5px 0 5px;
    line-height: 40px;
    font-size: 20px; }
    @media (min-width: 1200px) {
      .block__inner--small .block__title {
        font-size: 22px;
        padding-left: 35px; } }
  .block__inner--alt .block__title {
    padding-left: 0;
    font-size: 20px;
    line-height: 28px; }
    @media (min-width: 1200px) {
      .block__inner--alt .block__title {
        font-size: 20px; } }

.block__table {
  margin-bottom: 10px; }
  .block__table .table__key {
    float: left;
    clear: left;
    width: 230px;
    line-height: 30px; }
  .block__table .table__value {
    float: left;
    line-height: 30px; }
  .block__table--border .table__key {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding-left: 5px;
    padding-right: 5px;
    width: 30%; }
  .block__table--border .table__value {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding-left: 5px;
    padding-right: 5px;
    width: 40%; }

.breadcrumbs {
  margin: 40px 0 0;
  padding: 0;
  list-style-type: none; }
  .breadcrumbs--big {
    margin: 7px 0 10px; }
    .breadcrumbs--big .breadcrumbs__link {
      font-size: 16px; }

.breadcrumbs__item {
  display: inline-block; }
  .breadcrumbs__item:last-child a:after {
    display: none; }

.breadcrumbs__link {
  font-size: 13px;
  color: #3b3f4a;
  padding-right: 30px;
  font-family: "Filson W01 Bold", Arial; }
  .breadcrumbs__link:after {
    content: '\e811';
    font-family: "fontello";
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 24px;
    position: relative;
    top: 4px;
    left: 5px;
    pointer-events: none; }

.button {
  background: #ffb400;
  color: #fff;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: "Filson W01 Bold", Arial;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 20px;
  text-decoration: none;
  margin-bottom: 0;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  position: relative;
  outline: 0; }
  @media (min-width: 1200px) {
    .button {
      font-size: 16px; } }
  .button:after {
    content: '';
    width: 100%;
    height: 3px;
    background: rgba(29, 30, 33, 0.3);
    position: absolute;
    bottom: -3px;
    left: 0; }
  .button:hover, .button:focus {
    text-decoration: none !important;
    color: #fff;
    background: #e6a200; }

.button--primary {
  background: #40af96; }
  .button--primary:hover, .button--primary:focus {
    background: #399c86; }

.button--secondary {
  background: #ffb400; }
  .button--secondary:hover, .button--secondary:focus {
    background: #e6a200; }

.button--tertiary {
  background: #cceae3; }
  .button--tertiary:hover, .button--tertiary:focus {
    background: #bae3d9; }

.button--quaternary {
  background: #3b3f4a; }
  .button--quaternary:hover, .button--quaternary:focus {
    background: #30333c; }

.button--black {
  background: #1d1e21; }
  .button--black:hover, .button--black:focus {
    background: #111213; }

.button--ghost {
  background: none;
  border: 1px solid #40af96;
  color: #3b3f4a; }
  .button--ghost:after {
    display: none; }
  .button--ghost:hover, .button--ghost:focus {
    background: none;
    color: #3b3f4a; }

.button--icon {
  padding-left: 35px; }
  .button--icon .icon-arrow {
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px; }

.button--left {
  text-align: left; }

.button--small {
  padding: 5px 10px; }
  @media (min-width: 1200px) {
    .button--small {
      font-size: 14px; } }

.button-width-auto {
  width: auto !important; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?92756843");
  src: url("../font/fontello.eot?92756843#iefix") format("embedded-opentype"), url("../font/fontello.woff?92756843") format("woff"), url("../font/fontello.ttf?92756843") format("truetype"), url("../font/fontello.svg?92756843#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-plus:before {
  content: '\e800'; }

/* '' */
.icon-play:before {
  content: '\e801'; }

/* '' */
.icon-min:before {
  content: '\e802'; }

/* '' */
.icon-home:before {
  content: '\e803'; }

/* '' */
.icon-speak:before {
  content: '\e804'; }

/* '' */
.icon-question:before {
  content: '\e805'; }

/* '' */
.icon-c:before {
  content: '\e806'; }

/* '' */
.icon-d:before {
  content: '\e807'; }

/* '' */
.icon-a:before {
  content: '\e808'; }

/* '' */
.icon-b:before {
  content: '\e809'; }

/* '' */
.icon-close:before {
  content: '\e80a'; }

/* '' */
.icon-logout:before {
  content: '\e80b'; }

/* '' */
.icon-login:before {
  content: '\e80c'; }

/* '' */
.icon-ok:before {
  content: '\e80d'; }

/* '' */
.icon-speak2:before {
  content: '\e80e'; }

/* '' */
.icon-book:before {
  content: '\e80f'; }

/* '' */
.icon-edit:before {
  content: '\e810'; }

/* '' */
.icon-arrow:before {
  content: '\e811'; }

/* '' */
.icon-play2:before {
  content: '\e812'; }

/* '' */
.icon-info:before {
  content: '\e813'; }

/* '' */
.form--answers {
  overflow: hidden; }
  .form--answers .form__radio-label {
    line-height: initial; }
    .form--answers .form__radio-label:before {
      border-radius: 2px;
      top: 9px; }
  .form--answers .form__item {
    margin: 0 10px 0 -10px;
    border: solid transparent;
    border-width: 1px 0;
    padding: 0 8px 5px 10px; }
    .form--answers .form__item--hover:hover {
      border-color: #9d9fa4; }
  .form--answers .form__radio-label {
    font-size: 16px;
    line-height: 32px;
    text-indent: -22px;
    padding-left: 75px; }

.form__item {
  margin-bottom: 5px; }

.form__label {
  width: 100%;
  font-size: 14px;
  padding-left: 8px; }

.form__input, .form__text {
  width: 100%;
  border: 1px solid #3b3f4a;
  font-family: "Filson W01 Bold", Arial;
  padding: 0 18px;
  line-height: 40px;
  background: #f3f3f3;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.22) inset; }
  .form__input--profile, .form__text--profile {
    border: 0;
    background: #fafafa;
    box-shadow: 0; }

.form__icon {
  font-size: 28px;
  margin-right: 8px;
  margin-left: 3px;
  position: relative;
  top: -1px;
  vertical-align: middle; }

.form__radio {
  overflow: hidden;
  margin-top: 8px; }

.form__radio-input, .form__checkbox-input {
  position: absolute;
  left: -9999px; }
  .form__radio-input:checked + .form__radio-label:before,
  .form__radio-input:checked + .form__checkbox-label:before, .form__checkbox-input:checked + .form__radio-label:before,
  .form__checkbox-input:checked + .form__checkbox-label:before {
    background: #ffb400; }
  .form__radio-input.error + .form__radio-label,
  .form__radio-input.error + .form__checkbox-label, .form__checkbox-input.error + .form__radio-label,
  .form__checkbox-input.error + .form__checkbox-label {
    color: #a94442; }
    .form__radio-input.error + .form__radio-label:before,
    .form__radio-input.error + .form__checkbox-label:before, .form__checkbox-input.error + .form__radio-label:before,
    .form__checkbox-input.error + .form__checkbox-label:before {
      background-color: #f2dede;
      border-color: #ebcccc; }
    .form__radio-input.error + .form__radio-label:after,
    .form__radio-input.error + .form__checkbox-label:after, .form__checkbox-input.error + .form__radio-label:after,
    .form__checkbox-input.error + .form__checkbox-label:after {
      background-color: #a94442;
      border-color: #ebcccc; }

.form__radio-label,
.form__checkbox-label {
  cursor: pointer;
  display: block;
  padding: 0 0 0 25px;
  position: relative;
  line-height: 20px;
  font-family: "Filson W01 Regular", Arial; }
  .form__radio-label:before,
  .form__checkbox-label:before {
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    content: "";
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px; }

.form__checkbox-input:checked + .form__checkbox-label:after {
  border-radius: 0; }

.form__checkbox-label:before {
  border-radius: 2px; }

body {
  position: relative;
  font-family: "Filson W01 Regular", Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px; }
  body:after {
    content: '';
    background: #fff;
    background-repeat: repeat;
    background-size: 47px 16px;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2; }

.template-pages {
  margin-top: 80px; }

.section-divider {
  width: 100%;
  height: 1px;
  border: 0;
  outline: 0;
  background: #e0e0e0;
  margin: 12px 0 15px; }
  .section-divider--login {
    margin: 80px 0 0; }

.slogan {
  position: relative;
  pointer-events: none; }
  .slogan:before {
    content: '';
    border-top: 400px solid transparent;
    border-left: 800px solid #009573;
    border-bottom: 400px solid transparent;
    position: absolute;
    top: -255px;
    right: -50px;
    z-index: 0; }
    @media (min-width: 1200px) {
      .slogan:before {
        right: -40px; } }
  .slogan span {
    display: block;
    max-width: 225px;
    color: #fff;
    font-family: "Filson W01 Bold", Arial;
    font-size: 22px;
    line-height: 32px;
    padding-top: 100px;
    position: relative;
    z-index: 1; }
    @media (min-width: 1200px) {
      .slogan span {
        font-size: 26px;
        line-height: 36px; } }

.intro {
  margin-top: 40px; }
  .intro--theory {
    margin-top: 10px;
    margin-bottom: 50px; }
  .intro--login {
    margin-bottom: 150px;
    padding-left: 40px; }
  .intro p {
    margin: 0; }
    .intro p + p {
      margin-top: 15px; }
    .intro p + .title {
      margin-top: 20px; }
  .intro img {
    max-width: 100%; }

.intro__overflow {
  overflow: hidden;
  transition: all 300ms ease-in-out; }

.examples {
  margin-bottom: 40px; }

.toggle-intro, .toggle-examples {
  padding-right: 30px;
  position: relative;
  cursor: pointer;
  font-family: "Filson W01 Bold", Arial; }
  .toggle-intro:after, .toggle-examples:after {
    content: '';
    border-top: 5px solid #3b3f4a;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    right: 8px;
    top: 12px; }
  .toggle-intro.up:after, .toggle-examples.up:after {
    border-top: 0;
    border-bottom: 5px solid #3b3f4a; }

.examples__overflow {
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 300ms ease-in-out; }

.usps {
  margin-top: 0;
  padding-left: 25px;
  font-family: "Filson W01 Bold", Arial; }

.center-button {
  text-align: center;
  margin-bottom: 50px; }
  .center-button .button {
    width: 50%;
    text-align: center; }

.score {
  padding-top: 5px;
  position: relative; }
  .score strong {
    margin-right: 10px; }

.icon-info {
  display: inline-block;
  margin-top: -10px;
  vertical-align: middle; }
  .icon-info:before {
    display: inline-block;
    border: 1px solid #3b3f4a;
    border-radius: 10px;
    color: #3b3f4a;
    content: 'i';
    cursor: pointer;
    font-size: 16px;
    font-family: Arial;
    line-height: 16px;
    width: 18px; }

.score__item {
  background: transparent;
  border: 2px solid #afb0b3;
  width: 30px;
  height: 30px;
  color: #afb0b3;
  border-radius: 100%;
  text-align: center;
  font-family: "Filson W01 Bold", Arial;
  position: relative;
  display: inline-block;
  margin-right: 0; }
  .score__item--wrong {
    background: #ff9999;
    border-color: #ff9999;
    color: rgba(255, 0, 0, 0.6); }
    .score__item--wrong:after {
      content: '';
      width: 1px;
      height: 30px;
      background: #ff0000;
      transform: rotate(45deg);
      position: absolute;
      top: -1px;
      left: 13px; }
  .score__item--correct {
    color: #06b226;
    border-color: #06b226; }

.give-feedback, .need-help {
  margin-top: 5px; }
  .give-feedback i, .need-help i {
    font-size: 40px;
    vertical-align: -7px; }

.give-feedback {
  cursor: pointer;
  color: #3b3f4a;
  margin-top: 30px;
  margin-right: 20px; 
  float: left;
  width: auto;}
  .give-feedback i {
    margin-right: 8px; }

.need-help {
  font-family: "Filson W01 Bold", Arial;
  font-size: 20px;
  color: #afb0b3; }
  .need-help span {
    margin-left: 5px;
    cursor: pointer; }

.toolbar {
  margin-top: 12px;
  margin-bottom: 30px;
  padding: 0 25px; }
  .toolbar .button {
    width: 130px;
    margin-left: 5px; }

.dropdown {
  position: relative; }

.dropdown__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 100%;
  min-height: 50px;
  z-index: 30; }
  .dropdown__list.active {
    z-index: 31; }
  .dropdown__list li {
    display: none; }
    .dropdown__list li.active, .dropdown__list li .show {
      display: block !important; }
  .dropdown__list .button {
    text-align: left;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px; }
  .dropdown__list i {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 20;
    color: #fff;
    font-size: 20px;
    transform: rotate(90deg);
    pointer-events: none; }

.dropdown__label {
  width: 100%;
  color: #fff;
  font-family: "Filson W01 Bold", Arial; }

.pb50 {
  padding-bottom: 50px; }

.tools .dropdown {
  min-height: 40px;
  width: calc(40% - 10px);
  float: left;
  margin-right: 10px; }

.tools .button {
  width: 100%; }
  .tools .button--submit {
    width: 20%;
    float: left; }

.progress-overview {
  margin: 50px 0 60px;
  padding-left: 30px; }

.activity-overview {
  padding-left: 30px; }
  .activity-overview .dropdown {
    width: 185px;
    min-height: 40px;
    margin-bottom: 20px; }
    .activity-overview .dropdown .icon-arrow {
      color: #40af96; }
    .activity-overview .dropdown .button {
      width: 100%;
      background: #fff;
      padding-left: 30px; }

.chart {
  width: 100%;
  overflow: hidden; }

.chart__item {
  width: calc(14% - 10px);
  float: left;
  margin-right: 10px; }
  .chart__item:last-child {
    margin-right: 0; }

.chart__label {
  font-size: 14px;
  margin-bottom: 5px; }

.chart__bar {
  height: 100px;
  position: relative; }
  .chart__bar span {
    display: block;
    background: #40af96;
    /*background: linear-gradient(to bottom, #b2ac06 0%, #40af96 100%);*/
    position: absolute;
    width: 100%;
    bottom: 0; }

.question {
  min-height: 570px; }

.question__feedback {
  display: none; }

.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999; }
  .overlay.active {
    display: block; }
  .overlay.animate .overlay__inner {
    transform: scale(1) translate(-50%, -50%);
    background-color: #FFFFFF;
    transform-origin: 0; }

.overlay__bg {
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9; }

.overlay__inner {
  width: 70%;
  max-width: 970px;
  transform: scale(0) translate(-50%, -50%);
  transform-origin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: all .3s ease-in-out;
  z-index: 10; }
  .overlay__inner img {
    max-width: 100%; }

.overlay__scroll {
  max-height: 80vh;
  overflow-y: auto;
  padding: 40px 40px 0;
  margin-bottom: 40px; }

.overlay__video img {
  width: 100%;
  height: auto; }

.overlay__title {
  font-size: 26px;
  font-family: "Filson W01 Bold", Arial;
  line-height: 32px;
  margin-bottom: 20px; }

.overlay__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -40px;
  top: -40px;
  color: #fff;
  font-size: 40px;
  cursor: pointer; }

.overlay__footer {
  overflow: hidden;
  position: relative;
  padding: 10px 40px 20px 40px; }
  .overlay__footer .cta {
    font-family: "Filson W01 Bold", Arial;
    font-size: 16px;
    color: #afb0b3; }
    .overlay__footer .cta i {
      font-size: 30px;
      vertical-align: -4px;
      margin: 0px 2px;
      color: #afb0b3; }
    .overlay__footer .cta a {
      color: #afb0b3;
      text-decoration: none; }
      .overlay__footer .cta a:hover {
        text-decoration: none; }

.profile {
  width: 100%;
  position: relative;
  z-index: 200; }
  .profile.active .profile__inner {
    height: 850px; }
  .profile--login .profile__inner {
    height: 550px; }
  .profile--login .profile__buttons {
    margin-top: 15px;
    margin-bottom: 15px; }
  .profile--login .profile__slide {
    padding-top: 15px; }
  .profile--login .title {
    padding-left: 8px; }
  .profile--student {
    position: relative;
    margin: 5px 0 15px; }
    .profile--student:before {
      content: '';
      width: 100%;
      height: 65px;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 65px solid #95d1c3;
      border-left: 147px solid transparent;
      border-right: 147px solid transparent; }
      @media (min-width: 1200px) {
        .profile--student:before {
          border-left-width: 180px;
          border-right-width: 180px; } }
    .profile--student .profile__inner {
      height: auto;
      padding: 65px 0;
      position: relative; }
    .profile--student .profile__head {
      background: #95d1c3;
      min-height: 0; }
    .profile--student .profile__slide {
      padding-top: 0; }
      .profile--student .profile__slide:after {
        filter: none; }
    .profile--student .profile__img {
      margin-bottom: 10px; }
    .profile--student .profile__name {
      font-size: 16px;
      max-width: 170px; }
      @media (min-width: 1200px) {
        .profile--student .profile__name {
          font-size: 22px;
          max-width: 245px; } }
    .profile--student .profile__info {
      margin-bottom: 20px; }
    .profile--student .progress {
      margin: 0;
      background: none; }
    .profile--student .progress__inner {
      padding: 0; }
      .profile--student .progress__inner:before, .profile--student .progress__inner:after {
        display: none; }

.profile__inner {
  width: 100%;
  height: 100px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  position: absolute;
  z-index: 2; }

.profile__head {
  background: #8ccfc0;
  padding: 20px 25px 0;
  min-height: 100px; }

.profile__img {
  display: inline-block;
  margin-bottom: 19px; }

.profile__name {
  display: inline-block;
  font-family: "Filson W01 Bold", Arial;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  max-width: 130px;
  position: relative;
  top: 10px; }
  @media (min-width: 1200px) {
    .profile__name {
      max-width: 195px; } }

.profile__toggle {
  float: right;
  margin-top: 8px; }
  .profile__toggle i {
    font-size: 40px;
    color: #fff;
    position: relative;
    top: 8px; }
  .profile__toggle:hover {
    cursor: pointer; }

.profile__slide {
  padding: 25px 25px 5px;
  background: #95d1c3;
  position: relative; }
  .profile__slide:after {
    content: '';
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: -65px;
    left: 0;
    border-top: 65px solid #95d1c3;
    border-left: 147px solid transparent;
    border-right: 147px solid transparent; }
    @media (min-width: 1200px) {
      .profile__slide:after {
        border-left-width: 180px;
        border-right-width: 180px; } }
  .profile__slide .profile__info {
    margin-bottom: 23px; }
  .profile__slide .profile__buttons {
    padding-top: 10px; }

.profile__edit {
  position: absolute;
  right: 20px;
  top: 30px;
  font-size: 12px; }
  .profile__edit i {
    margin-right: 5px; }

.profile__info {
  overflow: hidden;
  margin-bottom: 30px;
  line-height: 30px; }

.profile__key {
  float: left;
  clear: left;
  font-size: 14px;
  width: 70px; }

.profile__value {
  float: left;
  font-family: "Filson W01 Bold", Arial;
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
  text-transform: capitalize;
}
  @media (min-width: 1200px) {
    .profile__value {
      max-width: 220px; } }

.profile__buttons .button {
  width: 100%;
  margin-bottom: 12px; }
  .profile__buttons .button--feedback, .profile__buttons .button--forgot {
    background: #698987; }
    .profile__buttons .button--feedback:hover, .profile__buttons .button--forgot:hover {
      background: #5e7b79; }

.profile__buttons i {
  font-size: 24px;
  position: absolute;
  left: 10px; }

.progress {
  height: auto;
  overflow: visible;
  border-radius: 0;
  box-shadow: none;
  margin-top: 160px;
  background: #95d1c3; }
  .progress--overview {
    margin-top: 10px;
    background: none; }
    .progress--overview .progress__bar {
      height: 10px;
      background: #3e3e3e; }
    .progress--overview .progress__subtitle {
      margin: 0;
      font-family: "Filson W01 Bold", Arial; }
    .progress--overview .progress__item {
      margin: 0;
      overflow: hidden; }

.progress__inner {
  position: relative;
  padding: 10px 25px 20px; }
  .progress__inner:before, .progress__inner:after {
    content: '';
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: -65px;
    left: 0;
    border-top: 65px solid #95d1c3;
    border-left: 147px solid transparent;
    border-right: 147px solid transparent; }
    @media (min-width: 1200px) {
      .progress__inner:before, .progress__inner:after {
        border-left-width: 180px;
        border-right-width: 180px; } }
  .progress__inner:before {
    border-top: 0;
    border-bottom: 65px solid #95d1c3;
    top: -65px; }

.progress__item {
  margin-bottom: 10px; }

.progress__title {
  text-align: center;
  margin-bottom: 20px; }

.progress__subtitle {
  font-size: 14px;
  font-family: "Filson W01 Bold", Arial;
  margin-bottom: 5px; }
  @media (min-width: 1200px) {
    .progress__subtitle {
      font-size: 16px; } }
  .progress__subtitle small {
    font-size: 13px;
    font-family: "Filson W01 Regular", Arial;
    margin-right: 5px;
    white-space: nowrap; }
    @media (min-width: 1200px) {
      .progress__subtitle small {
        font-size: 14px;
        margin-right: 15px; } }
  .progress__subtitle span {
    font-size: 14px; }
    @media (min-width: 1200px) {
      .progress__subtitle span {
        font-size: 14px;
        padding-right: 10px; } }

.progress__bar {
  height: 20px;
  position: relative;
  background: #fff; }
  .progress__bar i {
    position: absolute;
    right: 5px;
    top: 0;
    line-height: 20px;
    font-style: normal; }

.progress__value {
  display: block;
  height: 100%;
  background-color: #40af96;
  position: relative;
  overflow: hidden; }

.progress__line {
  width: 1px;
  height: 10px;
  margin-left: calc(100% / 5 - 1px);
  background: #000;
  position: relative;
  top: -10px;
  display: block;
  float: left; }

.progress__result {
  overflow: hidden; }

.progress__score {
  width: 56px;
  background: #fff;
  font-size: 14px;
  font-family: "Filson W01 Bold", Arial;
  text-align: center;
  margin-bottom: 5px;
  float: left;
  line-height: 20px;
  text-decoration: none;
  margin: 0px 7px 7px 0px; }
  .progress__score:nth-child(5n+0) {
    margin-right: 0px; }
  .progress__score:hover {
    text-decoration: none; }

.progress__score.done {
  color: #fff;
  background-color: #30333c !important; }

.table--overlay th, .table--overlay td {
  text-align: center; }

.table--overlay thead th {
  background: #40af96;
  color: #fff; }

.table--overlay tbody {
  border-left: 1px solid #333; }
  .table--overlay tbody td {
    border-right: 1px solid #333;
    border-bottom: 1px solid #333; }

.table .th {
  font-family: "Filson W01 Bold", Arial; }

.table .td {
  float: left; }

.table--score {
  position: relative;
  margin: 45px 0 12px; }
  .table--score .th, .table--score .tr {
    border-bottom: 1px solid #e5e5e5; }
  .table--score .th {
    border-top: 1px solid #e5e5e5; }
    .table--score .th .td {
      font-size: 16px;
      line-height: 48px; }
      .table--score .th .td:first-child {
        font-size: 22px; }
    .table--score .th:first-child .td:nth-child(2) {
      line-height: 16px;
      font-size: 18px;
      padding: 8px 0; }
  .table--score .td {
    width: calc((100% - 280px) / 20);
    text-align: center;
    border-right: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 40px; }
    .table--score .td:first-child {
      width: 185px;
      text-align: left;
      padding-left: 35px; }
    .table--score .td:nth-child(2) {
      width: 95px;
      background: #8CCFC0; }
  .table--score .td-score {
    position: relative;
    z-index: 2; }
    .table--score .td-score:before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      position: absolute;
      top: 7px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1; }
    .table--score .td-score--green:before {
      background: #00ea2c; }
    .table--score .td-score--orange:before {
      background: #ff9600; }
    .table--score .td-score--red {
      color: #fff; }
      .table--score .td-score--red:before {
        background: #ff0000;
        border-radius: 0; }
    .table--score .td-score--grey:before {
      background: #bfbfbf; }
    .table--score .td-score--percent {
      font-size: 12px;
      font-family: "Filson W01 Bold", Arial; }
    .table--score .td-score--empty:before {
      width: 9px;
      height: 9px;
      background: #bfbfbf;
      border-radius: 0;
      top: 16px; }

.table--student-score {
  margin-top: 10px; }
  .table--student-score .th .td:first-child {
    font-size: 14px; }
  .table--student-score .th:first-child .td:nth-child(2) {
    font-size: 14px; }
  .table--student-score .td {
    width: calc(100% / 20) !important; }
    .table--student-score .td:first-child {
      border-left: 1px solid #e5e5e5;
      padding-left: 0;
      text-align: center; }
    .table--student-score .td:nth-child(2) {
      background: transparent; }

.table__header-label {
  background: rgba(255, 255, 255, 0.5);
  bottom: 100%;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  display: none;
  margin-left: 279px;
  padding: 2px 5px;
  position: absolute;
  text-align: center;
  width: calc(100% - 279px); }
  .table__header-label.hover {
    display: block; }

.tiles {
  display: flex;
  flex-wrap: wrap;
  margin: 25px -5px 25px;
  overflow: hidden; }

.tile__item {
  display: flex;
  width: 20%;
  float: left;
  padding: 5px;
  position: relative;
  cursor: pointer; }

.tile__link {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px; }

.tile__inner {
  width: 100%;
  background: #acaeb2;
  padding: 15px;
  color: #fff;
  position: relative;
  min-height: 85px; }
  @media (min-width: 1200px) {
    .tile__inner {
      padding: 15px 20px;
      min-height: 145px; } }
  .tile__inner:hover {
    background: #9fa1a6; }
  .tile__item--done .tile__inner {
    background: #3fae95; }
    .tile__item--done .tile__inner:hover {
      background: #389b85; }
    .tile__item--done .tile__inner:before {
      content: '\e80d';
      font-family: "fontello";
      font-size: 45px;
      color: #009573;
      position: absolute;
      right: 10px;
      bottom: 12px; }
  .tile__item--result .tile__inner {
    background: #3fae95; }
    .tile__item--result .tile__inner:hover {
      background: #389b85; }
    .tile__item--result .tile__inner:before {
      position: absolute;
      right: 10px;
      bottom: 12px; }
  .tile__inner .tile__result {
    text-align: right;
    color: #333;
    position: absolute;
    right: 10px;
    bottom: 10px; }
  .tile__item--active .tile__inner {
    background: #009573; }
    .tile__item--active .tile__inner:hover {
      background: #007c5f; }
  .tile__item--inactive .tile__inner {
    background: #e1e2e4; }

.tile__subtitle {
  font-family: "Filson W01 Light", Arial;
  line-height: 18px;
  position: relative;
  z-index: 1;
  margin-bottom: 5px; }

.tile__title {
  font-family: "Filson W01 Bold", Arial;
  font-size: 13px;
  line-height: 16px;
  position: relative;
  margin-bottom: 20px;
  z-index: 1; 
  margin-left: 0 !important;
  text-align: inherit !important;
}
  @media (min-width: 1200px) {
    .tile__title {
      font-size: 15px;
      line-height: 18px; } }

.tile__hover {
  display: none; }
  .tile__inner:hover .tile__hover {
    display: block; }
  .tile__hover .button {
    cursor: pointer;
    padding: 10px 5px;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 30px;
    z-index: 10;
    font-size: 12px; }
    @media (min-width: 1200px) {
      .tile__hover .button {
        font-size: 16px; } }
    .tile__hover .button:hover {
      background: #ffb400; }

.tooltip {
  position: relative; }

.tooltip-content {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  font-size: 14px;
  font-weight: normal;
  left: 100%;
  line-height: 20px;
  padding: 10px 15px;
  position: absolute;
  top: 20px;
  z-index: 100; }

.tooltip-hover .tooltip-content {
  display: block; }

.video {
  margin-bottom: 15px; }

.video__title {
  clear: both;
  padding: 5px 0; }
  .video__title--inset {
    width: 80%;
    line-height: 18px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); }
    @media (min-width: 1200px) {
      .video__title--inset {
        bottom: 20px; } }

.video__placeholder {
  position: relative;
  cursor: pointer; }
  .video__placeholder img {
    width: 100%;
    height: auto; }
  .video__placeholder video {
    display: block; }
  .overlay .video__placeholder {
    border: 1px solid #333;}

.video__play {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 100; }
  .video__play--primary {
    color: #40af96; }

.firefox .overlay__inner .video__play {
  display: none; }

video::-internal-media-controls-download-button {
  display: none; }

video::-webkit-media-controls-enclosure {
  overflow: hidden; }

video::-webkit-media-controls-panel {
  width: calc(100% + 30px); }

.well {
  background-color: #EBECED;
  padding: 20px 25px;
  margin-bottom: 30px; }
  .well p {
    margin-top: 0; }
    .well p:last-child {
      margin-bottom: 0; }
  .well img {
    max-width: 100%; }

.mt-0 {
  margin-top: 0px !important; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.ml-10 {
  margin-left: 10px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

.ml-40 {
  margin-left: 40px; }

.ml-50 {
  margin-left: 50px; }

.ml-60 {
  margin-left: 60px; }

.mr-10 {
  margin-right: 10px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mr-40 {
  margin-right: 40px; }

.mr-50 {
  margin-right: 50px; }

.mr-60 {
  margin-right: 60px; }

.pt-10 {
  padding-top: 10px; }

.pl-0 {
  padding-left: 0px !important; }

.pr-0 {
  padding-right: 0px !important; }

.bg-green {
  background: #40af96; }

.bg-lightgreen {
  background-color: #8CCFC0; }

.text-bold {
  font-weight: bold;
  font-family: "Filson W01 Bold", Arial, sans-serif; }

.text-xs {
  font-size: 12px; }

.text-small {
  font-size: 14px;
  font-weight: 400; }

/* blocked horizontal lists */
.list-blocked {
  color: white;
  font-size: 16px;
  margin-bottom: 10px; }
  .list-blocked__title {
    padding-left: 35px;
    display: block;
    margin-top: 6px; }
  .list-blocked a {
    color: white;
    text-decoration: none; }
    .list-blocked a:hover {
      text-decoration: underline; }
  .list-blocked .icon-ok {
    font-size: 24px;
    color: #009573;
    display: block;
    margin-top: 8px; }
  .list-blocked__timeframe {
    position: absolute;
    top: -10px;
    right: 15px;
    font-size: 13px;
    margin: 0px; }
    .list-blocked__timeframe p {
      margin: 0px; }
  .list-blocked.row div {
    margin-top: 8px; }

.result {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  position: relative; }
  .result--green {
    background-color: #00ea2c; }
  .result--red {
    background-color: #ff0000;
    color: white; }
  .result--orange {
    background-color: #ff9600; }
  .result--gray {
    background-color: #bfbfbf; }
  .result--pending::before {
    content: "";
    position: absolute;
    display: block;
    width: 9px;
    height: 9px;
    background-color: #bfbfbf;
    top: 8px;
    left: 8px; }
  .result--round {
    border-radius: 50%; }

/*
 TABLE
*/
.table-baes {
  border-top: 1px solid #e5e5e5;
  font-size: 14px; }
  .table-baes th {
    font-size: 18px;
    min-height: 46px; }
  .table-baes tbody > tr > td, .table-baes tbody > tr > th, .table-baes thead > tr > td, .table-baes thead > tr > th {
    border: 1px solid #e5e5e5;
    padding: 10px; }
    .table-baes tbody > tr > td:first-child, .table-baes tbody > tr > th:first-child, .table-baes thead > tr > td:first-child, .table-baes thead > tr > th:first-child {
      padding-left: 35px;
      border-left: 0px; }
  .table-baes tbody > tr > td {
    height: 43px !important; }
  .table-baes thead > tr > th {
    border-width: 1px !important;
    min-height: 46px; }
  .table-baes.table-baes--scroll tbody > tr > td, .table-baes.table-baes--scroll tbody > tr > th, .table-baes.table-baes--scroll thead > tr > td, .table-baes.table-baes--scroll thead > tr > th {
    border: 1px solid #e5e5e5;
    padding: 9px; }
    .table-baes.table-baes--scroll tbody > tr > td:first-child, .table-baes.table-baes--scroll tbody > tr > th:first-child, .table-baes.table-baes--scroll thead > tr > td:first-child, .table-baes.table-baes--scroll thead > tr > th:first-child {
      padding-left: 10px;
      border-left: 0px; }
  .table-baes.table-baes--scroll thead > tr > th {
    border-width: 1px !important;
    height: 46px !important;
    height: 100%; }
  .table-baes.table-baes--scroll tbody > tr > td {
    min-height: 43px !important; }

.table-filter {
  margin-bottom: 10px; }
  .table-filter label, .table-filter input {
    display: inline-block;
    height: 34px; }
  .table-filter label {
    margin-right: 10px; }
  .table-filter input {
    width: auto;
    color: #333;
    border: 1px solid #ccc;
    font-family: "Filson W01 Regular", Arial;
    border-radius: 0px !important;
    border-radius: 0px;
    padding: 0px 8px; }

.table-baes-tooltip-leerdoel {
  height: 40px;
  line-height: 40px; }
  .table-baes-tooltip-leerdoel .leerdoel-title {
    display: none;
    border: 1px solid #e5e5e5;
    border-bottom: 0px; }

/*
 block search
*/
.block-search {
  margin-top: 4px; }
  .block-search input {
    color: #333;
    border: 1px solid #3b3f4a;
    font-family: "Filson W01 Regular", Arial;
    padding: 0 10px;
    line-height: 40px;
    background: #f3f3f3;
    box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.22) inset; }
    .block-search input:focus {
      outline: none; }
  .block-search button {
    color: #fff;
    border: 1px solid #3b3f4a;
    font-family: "Filson W01 Bold", Arial;
    padding: 0 18px;
    line-height: 40px;
    background-color: #3b3f4a;
    margin-left: -5px; }
    .block-search button:focus {
      outline: none; }

/*
 Products
*/
.product {
  margin-bottom: 30px;
  background-color: #fff;
  border-color: #e0e0e0; }
  .product--text-center {
    text-align: center; }
  .product__logo {
    width: 195px;
    height: auto;
    margin-bottom: 30px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; }
    .product__logo--school {
      display: block;
      width: 80px;
      height: auto;
      margin: 0 auto;
      margin-bottom: 30px; }
  .product__title {
    margin-bottom: 20px; }
  .product__description {
    margin-bottom: 30px;
    min-height: 150px; }
  .product__price {
    font-size: 24px;
    margin-bottom: 30px; }
  .product__description table { width: 100%; }
  

.form-baes .form-group {
  margin: 5px; }
  .form-baes .form-group label {
    margin: 0px; }

.form-control {
  color: #333;
  font-family: "Filson W01 Regular", Arial;
  border-radius: 0px !important;
  border-radius: 0px; }
  .form-control:focus {
    outline: none;
    border-color: inherit; }

.tools-multiple .dropdown {
  min-height: 40px;
  width: calc(25% - 10px);
  margin-right: 10px;
  display: inline-block; }

.tools-multiple .button {
  width: 100%; }
  .tools-multiple .button--submit {
    width: 20%;
    float: left; }

.dropdown-baes .dropdown-menu {
  width: 100%;
  border-radius: 0px;
  padding: 0; }
  .dropdown-baes .dropdown-menu li a {
    background: #fff;
    color: #333;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: "Filson W01 Bold", Arial;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 20px;
    text-decoration: none;
    margin-bottom: 0;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    position: relative;
    outline: 0;
    display: block; }
    .dropdown-baes .dropdown-menu li a:hover {
      background-color: #eee; }

.input-group-addon {
  border-color: #333; }

.scroll-horizontal {
  position: relative;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap; }

.alert {
  margin-top: 20px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    background-color: #95d1c3;
}

.glyphicon-chevron-up {
    color: white;
}

p {
  text-align: justify;
}

.section-divider {
  clear: both;
}

tbody {
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color: #ddd;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  input {
    height: 35px;
  }
}

.form__radio-label > p > span > span {
  padding-left: 10%;
  font-weight: bold;
}


.form__radio-label_new > p > span > span {
  padding-left: 3% !important;
  font-weight: bold;
}

.form__radio label {
  display: flex;
}

#apply{
  margin-left: 30%;
}

#update-check {
  margin-top: 13%;
}

.profile_slider_name {
  max-width: 150px;
}

.edit_profile_picture {
  max-width:150px;
  width:100%;
}

.break_name {
  word-break: break-all;
}

.name-break {
 max-height: 20px;
 max-width: 140px;
 overflow: hidden;
}

.learningGoalDropdown {
 max-height: 250px;
 overflow-y: overlay;
}

.add_button {
  margin-top: 5%;
}

.hiddenDiv {
  display: none;
}

.hiddenField {
    display: none;
}

.period_text {
  font-size: 0.7em !important;
}

/*datatable style*/
.dataTables_wrapper, .dataTables_wrapper table{
  width: 100%;
}
.singleSelect{
    display: inline-block;
    width: auto;
}

.filterLabel, .curriculumLabel{
    float: right;
    margin-left: 20px;
}

.view__learningGoal .title--page span {
    display: inline !important;
    float: none !important;
}
.invalid-video {
    text-align: center;
    color: red;
    display: none;
}

.float-right{ float: right !important; }

.mg-bottom{
  margin-bottom: 15px;
}
.align-right{
  text-align: right;
}
.dashboard_block {
    height: 150px;
}
.viewQuestionBtn{
  display: table;
  margin: 0 auto;
}

.card-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)!important;
    padding: 20px;
    background: #f0f0f0;
    height: 150px;
    overflow: hidden;
    margin-bottom:10px; 
    cursor: pointer !important;
}
​
.row.card-group {
    display: flex;
    flex-wrap: wrap;
}
​
.card {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer !important;
}
.hideDivider .section-divider{display: none !important;}
.hideDivider{ margin-top:10px;}
.list-blocked{
  margin: 0px 5px;
}
#deleteTemplateForm{display: inline-block;}
.testTemplateCheck{
    display: inline-block !important;
    width: 15px !important;
    height: 15px !important;
    cursor: pointer !important;
    vertical-align: text-top !important;
}
.testTitle{
  display: inline-block;
}

#changeFolderButton, .folderListDrop{
  display: inline-block !important;
  width: auto !important;
}
#changeFolderSection{
  display: none;
}
#new_template{
  width: 100%;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    background-color: #95d1c3;
}

.margin-align{
  margin-right: 10px !important;
}
.small-button{
  font-size:13px;
}
.margin-bottom{
  margin-bottom: 10px !important;
}
.small-icon{
  font-size: 18px !important;
}
.error_div{
  color: red;
  font-size: 13px;
}
.custom-row{
  min-height: 60px !important;
}
.custom-row input[type="checkbox"]{
  vertical-align: text-top !important;
}
.result { font-size: 80% !important; }
.table-baes tbody > tr > td { height: 48px !important; vertical-align: middle; }
#students-details-table tbody td, #class-details-table tbody td{
  text-align: center;
}

.text-uppercase{
  text-transform: capitalize;
}
.custom-width{
      width: 130px !important;
}

.custom-dropdown{
  width: calc(20% - 10px) !important;
}

.folder-action{
    position: absolute;
    right: 20px;
    display: none;
}
.folder-card:hover .folder-action{display: block;}
.folder-card a{
  text-decoration: none;
}
.folder-action span{vertical-align: middle; cursor: pointer;}
.folder-action .edit-action{margin-right: 10px;}

.custom-tooltip{

}
.custom-tooltip .custom-tooltiptext {
    visibility: hidden;
    width: 92%;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
     top: 157px;
    left: 11px;
    max-height: 150px;
    padding: 7px;
    text-align: left;
}
.custom-tooltip:hover .custom-tooltiptext {
    visibility: visible;
}
.folder-description.form-control{
    width: 371px !important;
    height: 100px !important;
}
.custom_slogan{
   padding-top: 0px !important;
    line-height: 0px !important;
    margin-top: -8px !important;

}

/*custom dessign css*/
.btn-block {
  width: 100%; }

.lh-20 {
  line-height: 20px; }

.hr-dark {
  border-top: 1px solid #b5b7bb; }

.no-gutter-left {
  padding-left: 0;
  margin-left: 0; }

.no-gutter-right {
  padding-right: 0;
  margin-right: 0; }

.no-gutters {
  padding: 0;
  margin: 0; }

.mb-66 {
  margin-bottom: 66px; }

.btn-min-width-200 {
  min-width: 200px; }

.alert-primary, .alert-failure {
  color: white;
  padding: 15px 0px;
  margin: 15px;
  border-radius: 0px !important; }

.alert-failure {
  background-color: #af4040; }

.alert-sucess{
  background-color: #40af96 !important;
}
.alert-pending{
  background-color: #4090af !important;
}

.slogan {
  margin-left: -120px; }
.slogan:before {
  right: 0px; }

.title--underline--dark {
  border-bottom: 1px solid #e0e0e0; }

.empty-block {
  border: 2px dashed #b4b6be !important;
  min-height: 300px;
  vertical-align: middle;
  background-color: white !important; }
.empty-block .course-flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 350px;
  height: 100%;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  -webkit-box-align: center !important;
  align-items: center; }
.empty-block .course-flex-container .course-flex-container-content {
  width: 100%; }

.grid-container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 50px;
  padding: 0px 15px;
  margin-top: 15px; }

.grid-product-table {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: table; }
.grid-product-table .grid-product-table-cell {
  display: table-cell;
  vertical-align: middle; }

/*
 Products
*/
.product {
  margin-bottom: 0px;
  border: 1px solid #e0e0e0;
  margin-top: 0px !important;
  background-color: #fafafa; }
.product__content {
  padding: 15px 25px; display: flex; flex-direction: column; }
.product__holder {
  position: relative; }
.product--text-center {
  text-align: center; }
.product__logo {
  width: 195px;
  height: auto;
  margin-bottom: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px; }
.product__logo--school {
  display: block;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 15px; }
.product__title {
  margin-bottom: 5px;
  font-size: 16px; }
.product__description {
  font-weight: bold;
  color: #40af96;
  line-height: 20px;
  min-height: 120px;
  margin-bottom: 150px;
  font-size: 14px; }
.product__description__badge {
  background-color: #aeafb4;
  display: inline-block;
  padding: 3px 20px;
  font-size: 12px;
  color: white;
  margin-top: 5px; }
.product__description.product-detail {
  margin-bottom: 30px; min-height: 0 !important; flex: 2;  }
.product__price {
  font-size: 16px;
  margin-bottom: 20px;
  /*position: absolute;*/
  bottom: 0px;
  width: 100%;
  padding: 0px; }
.product__price p {
  padding: 0;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: center; }
.product__price__period {
  font-size: 12px; }
.product__price .button {
  margin-top: 14px !important; }
.product__price__badge {
  background-color: #aeafb4;
  display: inline-block;
  padding: 0px 20px;
  font-size: 12px;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px; }
.product__price.course-pricing p {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  text-align: center; }
.product__price.course-pricing p.course-date {
  font-size: 14px;
  font-weight: normal; }
.product__price.product-detail {
  display: block; }

.licence-search {
  font-size: 12px;
  float: right;
  vertical-align: top; }
.licence-search .licence-search-info {
  background-color: #40af96;
  font-size: 11px;
  color: white;
  padding: 5px 10px;
  line-height: 15px;
  width: 230px;
  font-weight: normal;
  display: inline-block;
  height: 38px;
  opacity: 1;
  -webkit-animation: fadeout 10s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 10s;
  /* Firefox < 16 */
  -ms-animation: fadepout 10s;
  /* Internet Explorer */
  -o-animation: fadeout 10s;
  /* Opera < 12.1 */
  animation: fadeout 10s;
  animation-iteration-count: 1; }
.licence-search .licence-search-input {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #3b3f4a;
  height: 38px;
  overflow: hidden;
  margin-right: -3px;
  margin-left: -3px; }
.licence-search .licence-search-input input {
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none; }
.licence-search .licence-search-button {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  border-bottom: 0px; }
.licence-search .licence-search-button:after {
  height: 0px; }

.grid-container-detail-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-auto-rows: 1fr;
  grid-gap: 60px;
  padding: 0px 15px;
  margin-top: 15px; }

.product-detail-detail-block {
  margin-left: 48px; }

.product-detail .title-block {
  background-color: #3b3f4a;
  padding: 2px 15px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px; }

.product-detail .specifications {
  margin: 0px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  background-color: white; }
.product-detail .specifications .specifications-description {
  line-height: 20px; }

.product-detail .select-klas {
  border: 1px solid #e0e0e0 !important;
  background-color: #fafafa !important; }

.profile-inner-650 {
  height: 650px !important; }

.profile-inner-850 {
  height: 850px !important; }

.form__item .input-error {
  border: 2px solid red; }

.form__item .validate-error-text {
  font-size: 13px;
  color: red; }

a.underlined {
  text-decoration: underline; }

.text-strong {
  font-weight: bold; }

.container-min-height-500 {
  min-height: 500px; }
.link-design{text-decoration: underline; !important;}

.licenses-grid {
display: flex;
flex-direction: row;
flex: 1;
flex-wrap: wrap; }

.licence-item {
display: flex;
margin-bottom: 1em; }

.licence-item .product__description.product-detail {
margin-bottom: 20px !important;
flex: 2; }
.product { display: flex; flex-direction: initial; width: 100%;  }

.product__logo--school {width: auto !important;height: auto !important;
  max-width: 150px;max-height: 40px;}

.slogan { margin-left: 0; }

.col-xs-3.licence-item .product {
   flex-direction: column;
}
.course-flex-container{margin:0 auto;}
.content__block.product.product--text-center.detailed__product{display: block;}
.direct_question p{
  display: block !important;
}
